In [31]:
#Librer√≠a
import pandas as pd

In [32]:
#Leer csv
data=pd.read_csv('Ventas_totales.csv')
data.head()

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [33]:
#Tipo de datos por columna
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   indice_tiempo                        65 non-null     object
 1   ventas_precios_corrientes            65 non-null     float64
 2   ventas_precios_constantes            65 non-null     float64
 3   ventas_totales_canal_venta           65 non-null     float64
 4   salon_ventas                         59 non-null     float64
 5   canales_on_line                      65 non-null     float64
 6   ventas_totales_medio_pago            65 non-null     float64
 7   efectivo                             65 non-null     float64
 8   tarjetas_debito                      64 non-null     float64
 9   tarjetas_credito                     58 non-null     float64
 10  otros_medios                         64 non-null     float64
 11  ventas_totales_grupo_articulos       65 non-null     float64
 12  subtotal_ventas_alimentos_bebidas    55 non-null     float64
 13  bebidas                              64 non-null     float64
 14  almacen                              63 non-null     float64
 15  panaderia                            64 non-null     float64
 16  lacteos                              64 non-null     float64
 17  carnes                               64 non-null     float64
 18  verduleria_fruteria                  64 non-null     float64
 19  alimentos_preparados_rotiseria       64 non-null     float64
 20  articulos_limpieza_perfumeria        65 non-null     float64
 21  indumentaria_calzado_textiles_hogar  63 non-null     float64
 22  electronicos_articulos_hogar         62 non-null     float64
 23  otros                                61 non-null     float64
dtypes: float64(23), object(1)
memory usage: 12.3+ KB

In [34]:
#Nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

Reemplazo de valores nulos

In [35]:
#Creaci√≥n de una copia para realizar reemplazos
data2=data.copy()

In [36]:
#Columna: salon_ventas (float64)
#Sustituci√≥n: media
data2['salon_ventas']=data['salon_ventas'].fillna(round(data['salon_ventas'].mean(),2))
data2['salon_ventas'].isnull().sum()#Comprobaci√≥n

0

In [37]:
#Columna: tarjetas_debito (float64)
#Sustituci√≥n: mediana
data2['tarjetas_debito']=data['tarjetas_debito'].fillna(round(data['tarjetas_debito'].median(),3))
data2['tarjetas_debito'].isnull().sum()#Comprobaci√≥n

0

In [38]:
#Columna: tarjetas_credito (float64)
#Sustituci√≥n: media
data2['tarjetas_credito']=data['tarjetas_credito'].fillna(round(data['tarjetas_credito'].mean(),3))
data2['tarjetas_credito'].isnull().sum()#Comprobaci√≥n

0

In [39]:
#Columna: otros_medios (float64)
#Sustituci√≥n: mediana
data2['otros_medios']=data['otros_medios'].fillna(round(data['otros_medios'].median(),3))
data2['otros_medios'].isnull().sum()#Comprobaci√≥n

0

In [40]:
#Columna: subtotal_ventas_alimentos_bebidas (float64)
#Sustituci√≥n: media
data2['subtotal_ventas_alimentos_bebidas']=data['subtotal_ventas_alimentos_bebidas'].fillna(round(data['subtotal_ventas_alimentos_bebidas'].mean(),1))
data2['subtotal_ventas_alimentos_bebidas'].isnull().sum()#Comprobaci√≥n

0

In [41]:
#Columna: bebidas (float64)
#Sustituci√≥n: constante 0
data2['bebidas']=data['bebidas'].fillna(0)
data2['bebidas'].isnull().sum()#Comprobaci√≥n

0

In [42]:
#Columna: almacen (float64)
#Sustituci√≥n: constante 0
data2['almacen']=data['almacen'].fillna(0)
data2['almacen'].isnull().sum()#Comprobaci√≥n

0

In [43]:
#Columna: panaderia (float64)
#Sustituci√≥n: constante 0
data2['panaderia']=data['panaderia'].fillna(0)
data2['panaderia'].isnull().sum()#Comprobaci√≥n

0

In [44]:
#Columna: lacteos (float64)
#Sustituci√≥n: constante 0
data2['lacteos']=data['lacteos'].fillna(0)
data2['lacteos'].isnull().sum()#Comprobaci√≥n

0

In [45]:
#Columna: carnes (float64)
#Sustituci√≥n: constante 0
data2['carnes']=data['carnes'].fillna(0)
data2['carnes'].isnull().sum()#Comprobaci√≥n

0

In [46]:
#Columna: verduleria_fruteria (float64)
#Sustituci√≥n: constante 0
data2['verduleria_fruteria']=data['verduleria_fruteria'].fillna(0)
data2['verduleria_fruteria'].isnull().sum()#Comprobaci√≥n

0

In [47]:
#Columna: alimentos_preparados_rotiseria (float64)
#Sustituci√≥n: constante 0
data2['alimentos_preparados_rotiseria']=data['alimentos_preparados_rotiseria'].fillna(0)
data2['alimentos_preparados_rotiseria'].isnull().sum()#Comprobaci√≥n

0

In [48]:
#Columna: indumentaria_calzado_textiles_hogar (float64)
#Sustituci√≥n: constante 0
data2['indumentaria_calzado_textiles_hogar']=data['indumentaria_calzado_textiles_hogar'].fillna(0)
data2['indumentaria_calzado_textiles_hogar'].isnull().sum()#Comprobaci√≥n

0

In [49]:
#Columna: electronicos_articulos_hogar (float64)
#Sustituci√≥n: constante 0
data2['electronicos_articulos_hogar']=data['electronicos_articulos_hogar'].fillna(0)
data2['electronicos_articulos_hogar'].isnull().sum()#Comprobaci√≥n

0

In [50]:
#Columna: otros (float64)
#Sustituci√≥n: constante 0
data2['otros']=data['otros'].fillna(0)
data2['otros'].isnull().sum()#Comprobaci√≥n

0

In [51]:
#Comprobaci√≥n final
#Total de valores nulos en el df
data2.isnull().sum().sum()

0

In [52]:
#Guardar df sin nulos en un archivo csv
data2.to_csv("VentasTotales_SinNulos.csv")